
#repositories {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#repositories td, #repositories th {
    border: 1px solid #ddd;
    padding: 8px;
}

#repositories tr:nth-child(even){background-color: #f2f2f2;}

#repositories tr:hover {background-color: #ddd;}

#repositories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color:blue; */
    color: white;
}